.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  padding: 12px 24px;
}

.logo,
.nav-links a,
.cart-button {
  color: white;
  text-decoration: none;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.active {
  color: orange;
  font-weight: bold;
}