<nav class="navbar">
  <div class="brand-section">
    <a routerLink="/" class="brand-name">Pizzeria</a>

    <img
      src="/images/PizzeriaLogo.jpeg"
      alt="Pizzeria logo"
      class="logo"
    />

    <a
      routerLink="/order-pizza"
      routerLinkActive="active-link"
    >
      Order Pizza
    </a>

    <a
      routerLink="/build-pizza"
      routerLinkActive="active-link"
    >
      Build Ur Pizza
    </a>
  </div>

  <a
  routerLink="/cart"
  routerLinkActive="active-cart"
  class="cart-button"
>
  🛒 Shopping Cart

  <span
  class="cart-count"
  *ngIf="cartCount() > 0"
>
  {{ cartCount() }}
</span>
</a>
</nav>